boby{
    font-family: "Pacifico", cursive;
    background: rgb(255, 0, 212);
    color: rgb(255, 127, 127);
    margin-bottom: 100px;
}
header{
    color: rgb(31, 236, 226);
     border-bottom: 3px solid ;
     font-size: 32px;
}
.chamada{
    background: white
    margin-top: 80px;
    margin-bottom: 80px;
}
.chamada{
    background: purple;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos ing:hover{
    opacity: 1.0;
    border: 3px solid palevioletred;
}
